# 숫자 1과 1을 더하기 (노트북 작동 확인)

In [1192]:
1+1

2

# 1. 프로그래밍 기본 개념 
- 문자열 "Hello Colab"을 화면에 출력하기

In [1193]:
print("Hello Colab")

Hello Colab

# 2. 자료형
- 숫자 1과 2를 더한다

In [1194]:
1+2

3

- 숫자 5를 변수 var1에 할당(저장)한다

In [1195]:
var1 = 5

- var1 변수이름을 입력하고 실행한다.

In [1196]:
var1

5

- var1 변수에 새로운 값(숫자 10)을 입력한다.

In [1197]:
var1 = 10
var1

10

- 숫자 20을 var2 변수에 저장한다. 
- var2 변수이름을 입력하고 실행한다.

In [1198]:
var2 = 20
var2

20

- var1 변수와 var2 변수를 더하고, 그 결과를 var3 변수에 할당한다. 
- var3 변수이름을 입력하고 실행한다.

In [1199]:
var3 = var1 + var2
var3

30

- var1 변수를 print 함수로 출력한다.

In [1200]:
print(var1)

10

- var1 변수와 var2 변수를 더하는 식을 print 함수에 입력하여 덧셈의 결과를 화면에 출력한다.

In [1201]:
print(var1 + var2)

30

- var1 변수와 var2 변수를 쉼표(,)로 구분하여 print 함수에 입력한다.

In [1202]:
print(var1, var2)

10 20

- "덧셈: " 문자열 다음에 연산식(var1 + var2)의 결과값이 출력되도록 쉼표(,)로 구분하여 print 함수에 입력한다.

In [1203]:
print("덧셈: ", var1 + var2)

덧셈:  30

- 정수 10을 var1 변수에 입력한다. 
- var1 변수의 데이터 타입(자료형)을 type 함수로 확인한다.

In [1204]:
var1 = 10
type(var1)

int

- 실수 3.14를 var2 변수에 입력한다. 
- var2 변수의 데이터 타입(자료형)을 type 함수로 확인한다.

In [1205]:
var2 = 3.14
type(var2)

float

- 정수 1과 2를 더하고, 그 값을 var3 변수에 입력한다.
- 정수 3과 실수 0.14를 더하고, 그 값을 var4 변수에 입력한다. 
- var3 변수의 데이터 타입(자료형)을 type 함수로 확인한다.
- var4 변수의 데이터 타입(자료형)을 type 함수로 확인한다.

In [1206]:
var3 = 1 + 2
var4 = 3 + 0.14
print(type(var3))
print(type(var4))

<class 'int'>
<class 'float'>

- "Easy" 문자열을 str1 변수에 입력한다.
- str1 변수이름을 입력한다.

In [1207]:
str1 = "Easy"
str1

'Easy'

- str1 변수의 자료형을 확인한다. type 함수의 리턴값을 print 함수로 출력한다.

In [1208]:
print(type(str1))

<class 'str'>

- "파이썬 딥러닝" 문자열을 str2 변수에 입력한다.
- str2 변수의 자료형을 확인한다. type 함수의 리턴값을 print 함수로 출력한다.

In [1209]:
str2 = '파이썬 딥러닝'
print(str2)

파이썬 딥러닝

- "ver1.0" 문자열을 str3 변수에 입력한다.
- str3 변수의 자료형을 확인한다. type 함수의 리턴값을 print 함수로 출력한다.

In [1210]:
str3 = 'ver1.0'
print(type(str3))

<class 'str'>

- str1 변수가 저장하고 있는 데이터의 크기(길이)를 len 함수로 확인한다.

In [1211]:
len(str1)

4

- str1 변수의 값인 "Easy" 문자열의 첫번째 문자를 인덱싱 추출한다.

In [1212]:
str1[0]

'E'

- str1 변수의 값인 "Easy" 문자열의 4번째 문자를 인덱싱 추출한다.

In [1213]:
str1[3]

'y'

- str1 변수의 값인 "Easy" 문자열의 마지막 문자를 인덱싱 추출한다.

In [1214]:
str1[-1]

'y'

- str1 변수의 값인 "Easy" 문자열의 뒤에서 3번째 문자를 인덱싱 추출한다.

In [1215]:
str1[-3]

'a'

- str1 변수의 값인 "Easy" 문자열의 1번째 부터 3번째 문자까지 슬라이싱 방법으로 추출한다.

In [1216]:
str1[0:3]

'Eas'

- str1 변수의 값인 "Easy" 문자열의 뒤에서 3번째 부터 1번째 문자까지 슬라이싱 방법으로 추출한다.

In [1217]:
str1[-3:-1]

'as'

- str1 변수의 값인 "Easy" 문자열의 뒤에서 3번째 문자부터 끝까지 슬라이싱 방법으로 추출한다.

In [1218]:
str1[-3:]

'asy'

- %s 문자열 형식(formatting)을 이용하여 "파이썬 딥러닝" 문자열 앞에 "Easy" 문자열(str1 변수의 데이터)을 삽입한다. str4 변수에 저장한다. 
- str4 변수 이름을 입력하고 실행한다.

In [1219]:
str4 = "%s 파이썬 딥러닝" % str1
str4

'Easy 파이썬 딥러닝'

- 숫자 1, 2, 3, 4, 5를 원소로 갖는 리스트를 만들고, list1 변수에 저장한다. 
- list1 변수의 데이터를 확인한다. (변수이름을 입력하고 실행한다)

In [1220]:
list1 = [1, 2, 3, 4, 5]
list1

[1, 2, 3, 4, 5]

- list1 변수의 데이터가 갖는 자료형을 type 함수로 확인한다.

In [1221]:
type(list1)

list

- 숫자 10을 원소로 갖는 리스트를 만들고, list2 변수에 저장한다. 
- list2 변수의 값을 print 함수로 출력한다. 
- list2 변수의 자료형을 type 함수로 확인하고, print 함수로 출력한다.

In [1222]:
list2 = [10]
print(list2)
print(type(list2))

[10]
<class 'list'>

- 원소가 0개인 빈 리스트를 만들고, list3 변수에 저장한다. (list 함수 활용)
- list3 변수의 값을 print 함수로 출력한다.

In [1223]:
list3 = list()
print(list3)

[]

- 원소가 0개인 빈 리스트를 만들고, list4 변수에 저장한다. (빈 대괄호 활용)
- list4 변수의 값을 확인한다.

In [1224]:
list4 = []
list4

[]

- 리스트 3개(list1, list2, list3)를 원소로 갖는 리스트를 생성하고 list_of_list라는 변수에 저장한다. 
- list_of_list 변수이름을 입력하여 데이터를 확인한다.

In [1225]:
list_of_list = [list1, list2, list3]
list_of_list

[[1, 2, 3, 4, 5], [10], []]

- list_of_list 변수의 자료형을 확인한다. (type 함수)

In [1226]:
type(list_of_list)

list

- list_of_list 변수의 1번째 원소를 인덱싱 추출한다.

In [1227]:
list_of_list[0]

[1, 2, 3, 4, 5]

- list_of_list 변수의 1번째 원소를 추출하고, 추출된 원소(list1)의 2번째 원소를 인덱싱 추출한다.

In [1228]:
list_of_list[0][1]

2

- list_of_list 변수의 마지막 원소를 인덱싱 추출한다.

In [1229]:
list_of_list[-1]

[]

- list_of_list 변수의 뒤에서 3번째 원소를 인덱싱 추출한다.

In [1230]:
list_of_list[-3]

[1, 2, 3, 4, 5]

list_of_list 변수의 0번째부터 1번째 원소를 범위를 지정하여 슬라이싱 추출한다.

In [1231]:
list_of_list[0:2]

[[1, 2, 3, 4, 5], [10]]

- list1 변수는 리스트를 원소로 갖는다. 숫자 100을 새로운 원소로 추가한다. (append 활용)
- list1 변수를 출력한다.

In [1232]:
list1.append(100)
list1

[1, 2, 3, 4, 5, 100]

- list3 변수는 리스트를 원소로 갖는다. 리스트에 숫자 7, 8, 9를 순서대로 새로운 원소로 추가한다. (append 활용)
- list3 변수를 출력한다.

In [1233]:
list3.append(7)
list3.append(8)
list3.append(9)
list3

[7, 8, 9]

- 숫자 1과 2를 원소로 갖는 투플(tuple)을 만들고, tuple1 이라는 변수에 저장한다.
- tuple1 변수를 출력한다.

In [1234]:
tuple1 = (1, 2)
tuple1

(1, 2)

- tuple1 변수의 자료형을 확인한다. (type 활용)

In [1235]:
type(tuple1)

tuple

- 문자열 "a", "b", 숫자 100을 원소로 갖는 투플(tuple)을 만들고, tuple2 이라는 변수에 저장한다.
- tuple2 변수를 출력한다.

In [1236]:
tuple2 = ("a", "b", 100)
tuple2

('a', 'b', 100)

- 원소가 0개인 빈 투플을 만들고, tuple3 변수에 저장한다.(tuple 함수)
- 원소가 0개인 빈 투플을 만들고, tuple4 변수에 저장한다. (빈 괄호 사용)
- tuple3 변수의 값을 출력한다. (print 함수)
- tuple4 변수의 값을 출력한다. (print 함수)

In [1237]:
tuple3 = tuple()
tuple4 = ()
print(tuple3)
print(tuple4)

()
()

- tuple2 변수에 저장된 투플의 1번째 원소를 인덱싱 추출한다.

In [1238]:
tuple2[0]

'a'

- tuple2 변수에 저장된 투플의 2번째 원소부터 마지막 원소까지 범위를 지정하여 슬라이싱 추출한다.

In [1239]:
tuple2[1:]

('b', 100)

- 딕셔너리를 만들고 dict1 이라는 변수에 저장한다. 'name' 키는 'Jay' 값을 갖고, 'age' 키는 20을 값으로 갖는다. 
- dict1 변수를 출력한다.

In [1240]:
dict1 = {'name':'Jay', 'age':20}
dict1

{'name': 'Jay', 'age': 20}

- dict1 변수의 자료형을 확인한다.

In [1241]:
type(dict1)

dict

- dict1 딕셔서리의 'name' 키와 매칭되는 값을 추출한다.

In [1242]:
dict1['name']

'Jay'

- dict1 딕셔서리의 'age' 키와 매칭되는 값을 추출한다.

In [1243]:
dict1['age']

20

- dict1 딕셔서리에 새로운 원소를 추가한다. 'grade' 키에 매칭되는 값으로 리스트([3.0, 4.0, 3.5, 4.2])를 추가한다.  
- dict1 변수를 출력한다.

In [1244]:
dict1['grade'] = [3.0, 4.0, 3.5, 4.2]
dict1

{'name': 'Jay', 'age': 20, 'grade': [3.0, 4.0, 3.5, 4.2]}

- dict1 변수에 저장된 딕셔너리의 키(key)를 모두 추출한다. (keys 메소드 활용)

In [1245]:
dict1.keys()

dict_keys(['name', 'age', 'grade'])

- dict1 변수에 저장된 딕셔너리의 값(value)을 모두 추출한다. (values 메소드 활용)

In [1246]:
dict1.values()

dict_values(['Jay', 20, [3.0, 4.0, 3.5, 4.2]])

- dict1 변수에 저장된 딕셔너리의 키(key)와 값(value) 쌍을 모두 추출한다. (items 메소드 활용)

In [1247]:
dict1.items()

dict_items([('name', 'Jay'), ('age', 20), ('grade', [3.0, 4.0, 3.5, 4.2])])

# 3. 연산자

- 숫자 1과 2를 더한다.

In [1248]:
1+2

3

- 문자열 "Good"과 한칸 공백(" ")과 문자열 "Morning"을 이어 붙인다. new_str 변수에 저장한다. ( + 연산자 활용)
- new_str 변수를 출련한다.

In [1249]:
new_str = "Good" + " " + "Morning"
new_str

'Good Morning'

- 숫자 2에서 3을 뺀다.

In [1250]:
2-3

-1

- 숫자 3과 4를 곱한다.

In [1251]:
3*4

12

- 문자열 "a"에 3을 곱한다.

In [1252]:
"a" * 3

'aaa'

- 숫자 5를 3으로 나눈다.

In [1253]:
5/3

1.6666666666666667

- 숫자 5를 3으로 나눈 몫을 구한다.

In [1254]:
5//3

1

- 숫자 5를 3으로 나눈 나머지를 구한다.

In [1255]:
5%3

2

- 숫자 3의 거듭제곱을 구한다.

In [1256]:
3**2

9

- 참을 나타내는 True를 입력한다.

In [1257]:
True

True

- 참을 나타내는 True를 부정한다. (not 명령)

In [1258]:
not True

False

- 거짓을 나타내는 False의 자료형을 확인한다. (type 함수)

In [1259]:
type(False)

bool

- AND 연산(참, 참)의 결과를 print 함수로 출력한다. 
- AND 연산(참, 거짓)의 결과를 print 함수로 출력한다. 
- AND 연산(거짓, 거짓)의 결과를 print 함수로 출력한다.

In [1260]:
print(True and True)
print(True and False)
print(False and False)

True
False
False

- OR 연산(참, 참)의 결과를 print 함수로 출력한다. 
- OR 연산(참, 거짓)의 결과를 print 함수로 출력한다. 
- OR 연산(거짓, 거짓)의 결과를 print 함수로 출력한다.

In [1261]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

- "3과 3이 같다" 는 명제를 입력한다.

In [1262]:
3==3

True

- "3이 3과 다르다" 는 명제를 입력한다.

In [1263]:
3!=3

False

- "문자열 'a'와 'a'가 같다" 는 명제를 입력한다.

In [1264]:
'a'=='a'

True

- "문자열 'a'와 'a'가 다르다" 는 명제를 입력한다.

In [1265]:
'a'!='a'

False

- 문자열 'a'를 var1 변수에 저장한다. 
- 문자열 'a'를 var1 변수에 저장한다.
- "var1 변수와 var2 변수가 같다" 는 명제를 입력한다.

In [1266]:
var1 = 'a'
var2 = 'a'
var1 == var2

True

- "4가 5보다 작다" 라는 명제를 print 함수로 출력한다. 
- "4가 5보다 작거나 같다" 라는 명제를 print 함수로 출력한다. 
- "4가 5보다 크거나 같다" 라는 명제를 print 함수로 출력한다. 
- "4가 5보다 크다" 라는 명제를 print 함수로 출력한다.

In [1267]:
print(4 < 5)
print(4 <= 5)
print(4 >= 5)
print(4 > 5)

True
True
False
False

- "4가 5보다 작다" 와 "4가 5보다 작거나 같다"를 AND 연산 처리한다.

In [1268]:
4 < 5 and 4 <= 5

True

- "4가 5보다 작다" 와 "4가 5보다 크다"를 OR 연산 처리한다.

In [1269]:
4 < 5 or 4 > 5

True

- "문자열 'a'가 'a'와 다르다" 라는 명제를 부정한다. (not 명령)

In [1270]:
not 'a'!='a'

True

# 4. 제어문

- if 조건문 (조건식: a 변수의 값을 2로 나눈 나머지가 0과 같다)

In [1271]:
a = 4
if a % 2==0:
    print("a는 짝수")
    print("a는 2의 배수")

a는 짝수
a는 2의 배수

- if 조건문 (조건식: a 변수의 값을 2로 나눈 나머지가 0이 아니다)

In [1272]:
if a % 2!=0:
    print("a는 홀수")

- if ~ else 조건문 (조건식: b 변수의 값을 2로 나눈 나머지가 0과 같다)

In [1273]:
b = 7
if b % 2==0:
    print("b는 짝수")
else:
    print("b는 홀수")

b는 홀수

- if 조건식: c 변수의 값이 0보다 크다.
- elif 조건식: c 변수의 값이 0보다 작다.
- else 조건식: 없음 (c 변수의 값이 0이다)

In [1274]:
c = -1

if c > 0:
    print("c는 양수")
elif c < 0:
    print("c는 음수")  
else:
    print("c는 0")

c는 음수

- for 반복문: num_list의 원소를 반복해서 출력한다

In [1275]:
num_list = [1, 2, 3]
for num in num_list:
    print(num)

1
2
3

- for 반복문: 리스트의 원소를 반복해서 2의 배수와 함께 출력한다.

In [1276]:
for num in [1, 2, 3]:
    print("기존: ", num)
    print("2배: ", num * 2)
    print("\n")

기존:  1
2배:  2


기존:  2
2배:  4


기존:  3
2배:  6

- for 반복문: 리스트의 원소를 반복해서 2의 배수를 계산하고, 빈 리스트(double)에 2의 배수를 원소로 추가한다

In [1277]:
double = []
for num in [1, 2, 3]:
    double.append(num * 2)

print(double)

[2, 4, 6]

- while 반복문: 조건식(num 변수의 값이 4보다 작다)을 만족하는 경우, 반복해서 num을 출력하고 num에 1을 더한다.

In [1278]:
num = 1
while num < 4:
    print(num)
    num = num + 1

1
2
3

- while 반복문: 조건식(num 변수의 값이 4보다 작다)을 만족하는 경우, 반복해서 num과 2의 배수를 출력하고 num에 1을 더한다.

In [1279]:
num = 1
while num < 4:
    print("기존: ", num)
    print("2배: ", num * 2)
    print("\n")    
    num += 1

기존:  1
2배:  2


기존:  2
2배:  4


기존:  3
2배:  6

- while True 반복문: 조건식(True)을 항상 만족하기 때문에 계속 반복 실행한다. 
- num의 2의 배수를 빈 리스트(double)에 추가한다. 
- break 명령: double의 원소 개수가 3개가 되면 while 반복문을 종료한다. 
- num에 1을 더한다.

In [1280]:
num = 1
double = []

while True:
    double.append(num * 2)    
    if len(double) == 3:
        break
    num += 1

print(double)

[2, 4, 6]

## 로또 번호 만들기

- range 함수로 1 ~ 45까지 정수를 원소로 갖는 배열을 만든다. 
- list 함수로 배열을 리스트로 변환한다.
- 변환된 리스트를 출력한다.

In [1281]:
num_range = range(1, 46)
num_list = list(num_range)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

- 리스트 안에 들어 있는 45개 숫자의 순서를 임의로 섞는다. (random 모듈의 shuffle 함수 사용)
- 순서가 바뀐 리스트 객체를 출력한다.

In [1282]:
import random
random.shuffle(num_list)
print(num_list)

[28, 43, 34, 3, 15, 5, 8, 41, 39, 31, 35, 19, 21, 11, 16, 6, 24, 2, 27, 36, 12, 37, 42, 29, 9, 20, 10, 1, 18, 40, 45, 23, 33, 13, 4, 22, 38, 30, 25, 44, 7, 14, 17, 26, 32]

- 6개 번호를 담을 빈 리스트(lotto)를 만든다. 
- lotto 리스트의 원소 개수가 6개 미만일 때 while 반복문을 실행한다. 
- 45개 숫자 리스트의 순서를 shuffle 함수로 섞어 준다. 가장 앞에 위치한 원소를 추출하고 num_selected 변수에 저장한다.
- if 조건문으로 추출한 숫자(num_selected)가 lotto 리스트에 들어 있는지 체크한다. 이미 추출한 숫자라면, 나머지 명령을 실행하지 않고 while 반복문의 처음으로 돌아가서 실행한다. 
- if 조건문을 충족하지 않는 경우, 즉 기존에 추출된 숫자가 아니라면 lotto 리스트의 원소로 추가한다. (append 활용)
- 새로 추출한 숫자를 출력한다. (print 함수)
- while 반복문이 종료되면 lotto 리스트를 출력한다. (6개 숫자 확인)

In [1283]:
lotto = []
while len(lotto) < 6:
    random.shuffle(num_list)
    num_selected = num_list[0]
    if num_selected in lotto:
        continue
    lotto.append(num_selected)  
    print(num_selected)

print(lotto)

16
14
32
30
36
27
[16, 14, 32, 30, 36, 27]

- 딕셔너리 만들기

In [1284]:
data = {'name': 'Jay', 'age': 20, 'grade': [3.0, 4.0, 3.5, 4.2]}
data

{'name': 'Jay', 'age': 20, 'grade': [3.0, 4.0, 3.5, 4.2]}

- 'address' 키에 매칭되는 값을 선택한다. (오류 메시지 발생)

In [1285]:
data['address'] # 에러가 나오는것이 정상

KeyError: 'address'

- try: 'address' 키와 매칭되는 값을 추출해서, "주소: " 문자열과 함께 출력한다.
- except: try 구문에 오류가 발생되면 이 부분의 코드가 실행된다.(예외처리)

In [ ]:
try:
    print("주소:", data['address'])
except:
    print("주소 정보가 없습니다")

주소 정보가 없습니다

- try: 'name' 키와 매칭되는 값을 추출해서, "이름: " 문자열과 함께 출력한다.
- except: try 구문에 오류가 발생되면 이 부분의 코드가 실행된다.(예외처리)
- finally: 이 부분의 코드는 무조건 실행된다.

In [ ]:
try:
    print("이름:", data['name'])
except:
    print("이름 정보가 없습니다")
finally:
    print("모든 작업이 완료되었습니다")

이름: Jay
모든 작업이 완료되었습니다

# 5. 함수

- cal_modulo라는 함수를 정의한다. (숫자 a, b를 입력 받고 a를 b로 나눈 나머지를 출력 값으로 내보낸다.)

In [ ]:
def cal_modulo(a, b):
    temp = a % b
    return temp

- cal_modulo 함수를 이용하여, 숫자 5를 3으로 나눈 나머지를 계산한다.

In [ ]:
cal_modulo(5, 3)

2

- cal_modulo 함수를 이용하여, 숫자 10을 3으로 나눈 나머지를 구한다. 
- 함수가 반환하는 나머지를 modulo 변수에 저장하고, 화면에 출력한다.

In [ ]:
modulo = cal_modulo(10, 3)
print(modulo)

1

- 3개의 숫자 쌍을 원소로 갖는 리스트(num_pairs)를 정의한다.
- cal_modulo 함수를 이용하여, 리스트 원소인 숫자 쌍의 값들에 대한 나머지를 구한다.  
- for 반복문으로 함수가 반환하는 나머지를 modulo 변수에 저장하고, 화면에 반복해서 출력한다.

In [ ]:
num_pairs = [(5, 3), (2, 2), (10, 3)]
for a, b in num_pairs:
    modulo = cal_modulo(a, b)
    print(modulo)

2
0
1

- 숫자 쌍을 원소로 갖는 리스트(num_pair_list)를 입력 받아서, 나머지 연산을 해서 함께 출력하는 cal_paris_modulo 함수를 정의한다.

    1) 숫자 쌍의 값들에 대한 나머지를 구해서, result 딕셔너리의 원소로 추가한다. 이때, 숫자 쌍(투플)이 키가 된다.
    
    2)for 반복문으로 함수가 반환하는 나머지를 modulo 변수에 저장하고, 화면에 반복해서 출력한다.

-  num_paris 리스트를 cal_paris_modulo 함수에 입력한다. 함수가 반환하는 값을 mod_pairs 변수에 저장하고 출력한다.

In [ ]:
def cal_pairs_modulo(num_pair_list):
    result = {}
    for a, b in num_pair_list:
        modulo = cal_modulo(a, b)
        result[(a,b)] = modulo
    return result

mod_pairs = cal_pairs_modulo(num_pairs)
mod_pairs

{(5, 3): 2, (2, 2): 0, (10, 3): 1}

-  num_paris 리스트를 cal_paris_modulo 함수에 입력하고, 함수가 반환하는 값을 화면에 출력하는 함수를 정의한다. 그리고 함수를 실행한다.

In [ ]:
def print_mod_pairs():
    print(cal_pairs_modulo(num_pairs))

print_mod_pairs()

{(5, 3): 2, (2, 2): 0, (10, 3): 1}

- cal_pairs_modulo 함수를 정의할 때 사용한 지역변수 result 값을 출력해 본다.

In [ ]:
result # 함수 내에서 사용한 변수는 함수 밖에서는 출력할 수 없음

NameError: name 'result' is not defined

- add_one 함수 정의 (숫자를 입력받아서 1을 더한 값을 반환)

In [1286]:
def add_one(num):
    return num + 1

answer = add_one(1)
print(answer)

2

- 숫자 리스트의 원소에 각각 1을 더하기 (add_one 함수 사용)

In [1287]:
add_one_list = []
for x in [1, 2, 3]:
    y = add_one(x)
    add_one_list.append(y)

print(add_one_list)

[2, 3, 4]

- 숫자 리스트의 원소에 각각 1을 더하기 (lambda 함수 사용)

In [1288]:
add_one_lambda = []
add_func = lambda x: add_one_lambda.append(x+1)
for x in [1, 2, 3]:
    add_func(x)

print(add_one_lambda)

[2, 3, 4]

- 두 숫자를 더하는 lambda 함수 만들기

In [1289]:
new_add_func = lambda x, y: x+y
answer = new_add_func(2, 3)
print(answer)

5

- 숫자 1~10을 원소로 갖는 리스트를 만들고, 원소의 합을 구한다. (sum 함수)

In [1290]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(numbers)

55

- 최대값 (max)

In [1291]:
max(numbers)

10

- 최소값(min)

In [1292]:
min(numbers)

1

- 원소의 개수 또는 길이 (len)

In [1293]:
len(numbers)

10

- enumerate 함수

In [1294]:
for i, num in enumerate(numbers):
    print(i, num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

- range 함수

In [1295]:
range(10)

range(0, 10)

- list 함수

In [1296]:
range(1, 10)
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

- print 함수

In [1297]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- eval 함수

In [1298]:
eval('print(numbers)')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- map 함수

In [1299]:
add_one = lambda x: x+1
results = map(add_one, numbers)

print(list(results))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

- filter 함수

In [1300]:
even_num = lambda x: x%2==0
results = filter(even_num, numbers)

print(list(results))

[2, 4, 6, 8, 10]

- int 함수

In [1301]:
int(3.14)

3

- str 함수

In [1302]:
str(3.14)

'3.14'

- round 함수

In [1303]:
round(3.14)

3

In [1304]:
round(3.14, 1)

3.1

- reversed 함수

In [1305]:
numbers_reversed = reversed(numbers)
print(list(numbers_reversed))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- sorted 함수

In [1306]:
sorted([3, 2, 1])

[1, 2, 3]

- zip 함수

In [1307]:
chars = ['a', 'b', 'c']
nums = [1, 2, 3]
pairs = zip(chars, nums)

print(list(pairs))

[('a', 1), ('b', 2), ('c', 3)]

# 6. 클래스

- add 함수 정의 (두 숫자를 더한다)

In [1308]:
def add(num1, num2):
    return num1 + num2

add(1, 2)

3

- Calculator 클래스 정의

In [1309]:
class Calculator:
    
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result = 0

    def add(self):
        self.result = self.num1 + self.num2    
        return self.result

cal = Calculator(1, 2)
print(cal.num1, cal.num2, cal.result)

1 2 0

- add 메소드 활용

In [1310]:
cal.add()

3

- result 속성 활용

In [1311]:
cal.result

3

- 클래스 정의: 메소드(함수) 추가

In [1312]:
class Calculator:
    
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result = 0

    def add(self):
        self.result = self.num1 + self.num2    
        return self.result

    def subtract(self):
        self.result = self.num1 - self.num2    
        return self.result

    def multiply(self):
        self.result = self.num1 * self.num2    
        return self.result

    def divide(self):
        self.result = self.num1 / self.num2    
        return self.result

    def change(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        print("num1: ", self.num1)
        print("num2: ", self.num2)

cal2 = Calculator(1, 2)
print(cal2.num1, cal2.num2)

1 2

- 메소드 활용

In [1313]:
print(cal2.add())
print(cal2.subtract())
print(cal2.multiply())
print(cal2.divide())

3
-1
2
0.5

In [1314]:
cal2.change(3, 2)

num1:  3
num2:  2

In [1315]:
cal2.add()

5

-- EOF --